h1 {
    background-color: blueviolet;
}

#mainTable table td {
    background-color: cornflowerblue;
    position: relative;
    left: 40%;
    top: 100px;
    width: 150px;
    height: 150px;
    font-size: 80px;
    text-align: center;
}
