<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tic Tac Toe</title>

    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/water.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/duck.css') }}">

    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/tilesGenerator.js') }}" defer></script>
</head>

<body>

    <!-- <div id='mainTable'>
        <table>
            <tr>
                <td class="external">E</td><td class='vertical'>E</td><td class="external">E</td>
            </tr>
            <tr>
                <td class='horizontal'>E</td><td class='vertical horizontal'>E</td><td class='horizontal'>E</td>
            </tr>
            <tr>
                <td class="external">E</td><td class='vertical'>E</td><td class="external">E</td>
            </tr>
        </table>
    </div> -->
    <div class="titleDiv">
        Tic Tac Toe?
    </div>
    <div id="toInsertTiles">
        <div id='1' class="brickField">
            <div class="tileBody">
                <div class="upperGlow"></div>
            </div>
            <div class="bottomShadow"></div>
        </div>
    </div>

    <div class="bathTub">
    </div>
    <div class="bathTubRim">
    </div>
    <div class="water">
    </div>

    <!-- <div class="duckDiv">
            <div class="peakDiv">
                <div class="peakCover"></div>
                <div class="peak"></div>
                </div>
        <div class="headDiv">
            
            <div class="head">
                <div class="eye">
                    <div class="pupil">
                    </div>
                </div>
            </div>

        </div>
    </div> -->

</body>

</html>